/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
/* common styles */
body{
    font-family: 'Source Serif Pro', serif;
    background-color: gainsboro;
}
main{
    
}
.article-title{
    color: rgb(11, 11, 31);
}





/*------------- 
headers styles 
---------------*/
/* menu styles */
.menu-wrap{
    background-color: #211f2b; 
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 600px;
}
.navication{
    display: flex;
    color: rgb(22, 22, 36);
}
.navication a{
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
    color: khaki;
}
.nav-icone{
    display: flex;
    color: khaki;
}
.far{
    margin-top:15px;
    width: 25px ;
    height: auto;
    color: lawngreen;
}
.fa-user-circle{
    margin-top: 2px;
    margin-left: 5px;
}
/* main styles */

/* top-section palyres styles */
section{
    background-color: whitesmoke;
    width: 600px;
    margin: 0 auto;
}
.article-title{
    padding: 20px;
}
.palyers{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-wrap: wrap;
    padding: 20px;
    
}

.container{
    border-radius: 12px;
     margin: 10px 0px;
    width: 250px;
    background-color: lavender;
    border: 2px solid rgba(189, 164, 189, 0.555);
       
     padding: 10px; 
    transition: all 0.3s;
}
.container:hover{
    border: 2px solid lightyellow;
    box-shadow: 2px 4px 9px gainsboro;
}
.palyer-image img{
    width: 200px;
    height: 200px;
    margin: 20px 20px; 
}
.palyer-information{
    margin: 20px 20px;
    text-align: justify;
}
.publice-reating{
    display: flex;
    justify-content: space-between;
}
.star-rate .filed, .fa-star.filed{
    color: rgb(235, 170, 31);

}
.star-rate .blank{
    color: dimgrey;
}
button{
    border-radius: 13px;
    background-color: rgba(250, 250, 210, 0.548);
    font-weight: 900;
  
}
.button:hover{
    background-color: rgb(4, 4, 19);
    border-radius: 13px;
}
button a{
    text-decoration: none;
    margin: 10px;
}
/*-------------
 blogs styles
 -------------*/
 .bloges{
     display: grid;
     grid-template-columns: repeat(2,1fr);
    column-gap: px;
    row-gap: 15px; 
 }
 .blog{
     margin: 20px 20px;
     display: flex;
 }
     
 .blog-thumblin img{
 
    width: 100px;
    height: 100px;
 }
 .blog-information{
     margin-left: 8px;
 }
 .blog-information a{
     text-decoration: none;
     font-size: 12px;
     color: goldenrod;
 }
 .name{
     color: gray;
 }
 /* -----------
 courses styles
 ------------ */
 hr{
    margin:20px;
    background-color: 
lawngreen;
}
 .courses{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-content:
 space-between;
}
 .course{
    
    margin: 20px 0 ;
    width: 240px;
    border: 1px solid darkgray;
    padding:20px;
    margin-left: 
    5px;
    border-radius: 15px;
}
.course:hover{
     border: 2px solid rgb(160, 252, 195);
    box-shadow: 2px 4px 9px rgb(241, 166, 166);;
}
.course-subject img{
    width: 250px;
 }
 .course-title{
     color: rgb(2, 2, 36);
 }
 .about-course p{
     text-align: justify;
     font-size: 15px;
 }
 .course-rate{
     display: flex;
     justify-content: space-between;
     margin-bottom: 20px;
 }
 .time{
     border-radius: 15px;
     background-color:  #e3f0e1;
    font-weight: 900;
     opacity: 0.4;
     color:  #290a03;

 }
 button:hover{
     background-color: rgb(3, 3, 27);
     color: moccasin;
 }
  
  
  
  
  
  
   
   
  
  
  
 
 
 
 
 
